@import "tailwindcss";
@import "./styles/font.css";

@theme {
    --color-primary: #09f;
    --color-main: #1c1b1b;
    --color-navy: #0c0b10;
    --color-sub-gary: #cecece73;
    --color-sub-navy: #1f1e25;
    --color-base-navy: #0c0b10;
    --color-sub-blue: #1e52e3;
    --color-sub-green: #43b54e;
    --color-sub-pink: #d46876;
    --color-main-teal: #009d85;
    --color-sub-teal: #8bc783;

    --user-select-none: none;
}

* {
    font-family: "Pretendard", sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
}

.scrolls::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scrolls::-webkit-scrollbar-thumb {
    height: 30%;
    background: #333131;
    opacity: 0.5;
    border-radius: 4px;
}

.scrolls::-webkit-scrollbar-track {
    background: rgba(41, 45, 45, 0.1);
}

span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 564px) {

    input,
    select,
    textarea {
        font-size: 16px;
    }
}

@keyframes soft-float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

.gh-soft-float {
    animation: soft-float 8s ease-in-out infinite;
}