@import "tailwindcss";
@import "./styles/font.css";

@theme {
    --color-primary: #09f;
    --color-main: #1c1b1b;
    --color-navy: #0C0B10;
    --color-sub-gary: #cecece73;
    --color-sub-navy: #1F1E25;
    --color-base-navy: #0C0B10;
    --color-sub-primary: #0D6EFD;

    --user-select-none: none;
}

* {
    font-family: "Pretendard", sans-serif;
}

.scrolls::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scrolls::-webkit-scrollbar-thumb {
    height: 30%;
    background: #333131;
    opacity: 0.5;
    border-radius: 4px;
}

.scrolls::-webkit-scrollbar-track {
    background: rgba(41, 45, 45, 0.1);
}