@import "tailwindcss";
@import "./styles/font.css";

@theme {
    --color-primary: #09f;
    --color-main: #1c1b1b;
    --user-select-none: none;
    --color-sub-gary: #cecece73;
}

* {
    font-family: "Pretendard", sans-serif;
}